.btn {
  padding: 1.5rem 2.6rem;
  border: none;
  outline: none;
  background-color: #fff;
  color: $primary-color;
  border-radius: 50rem;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &--bold {
    font-weight: bold;
  }
  &--primary {
    background-color: $primary-color;
    color: #fff;
  }
  &--noradius{
    border-radius: 0;
  }
}
