section.around
  img(src="../images/img-around-bg.png").around__image
  .container
    h2.around__title.text-center.mb-10 Around the University 
    .around__inner
      +blockAroundItem({
        src:"../images/img-around1.png",
        title:"Photoshop CC 2018",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
      +blockAroundItem({
        src:"../images/img-around2.png",
        title:"Get Started Coding Android  Apps With Kotlin",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
      +blockAroundItem({
        src:"../images/img-around3.png",
        title:"Create Turntable Animations  With Cinema 4D",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
      +blockAroundItem({
        src:"../images/img-around4.png",
        title:"A Beginner’s Guide to the  New Bootstrap 4 Grid",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
      +blockAroundItem({
        src:"../images/img-around5.png",
        title:"A Designer’s Guide to Vue.js  Components",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
      +blockAroundItem({
        src:"../images/img-around6.png",
        title:"Code a Swift App With Realm  Mobile Database",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
      +blockAroundItem({
        src:"../images/img-around7.png",
        title:"10 Essential Design Tips in  Adobe Illustrator",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
      +blockAroundItem({
        src:"../images/img-around8.png",
        title:"Modern PHP From The  Beginning",
        branch:"Graphics Design",
        reading:"Keep reading..."
      })
