section.department
  .container
    .department__inner
      .department__inner-heading.text-center.pb-7
        +blockHeading({
          title:"Our Department", 
          desc:"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard pdummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the "
        }) 
      .department__inner-row
        .department__inner-item.department__inner-item--organce
          img(src="../images/img-couser1.png").department__inner-images
          h3.department__inner-info.mb-8 Our Department
        .department__inner-item.department__inner-item--green
          img(src="../images/img-couser2.png").department__inner-images
          h3.department__inner-info.mb-8 Our Department
        .department__inner-item.department__inner-item--yellow
          img(src="../images/img-couser3.png").department__inner-images
          h3.department__inner-info.mb-8 Our Department
