footer.footer 
  .container
    .footer__inner
      .footer__inner-item
        img(src="../images/img-logo-footer.png").footer__inner-logo
        p.footer__inner-desc but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containi
        .footer__inner-social
          ul.footer__social-list
            li.footer__social-item
              a(href="#").footer__social-link
                i.fab.fa-twitter
            li.footer__social-item
              a(href="#").footer__social-link
                i.fab.fa-facebook-square
            li.footer__social-item
              a(href="#").footer__social-link
                i.fab.fa-linkedin
            li.footer__social-item
              a(href="#").footer__social-link
                i.fab.fa-instagram
            li.footer__social-item
              a(href="#").footer__social-link
                i.fab.fa-skype
            li.footer__social-item
              a(href="#").footer__social-link
                i.fab.fa-apple
      .footer__inner-item
        h3.footer__inner-title FEATURED PROGRAMS
        ul.footer__list
          li.footer__list-item
            a(href="#").footer__list-link Fixed responsive issue - <span>Just Now</span>
          li.footer__list-item
            a(href="#").footer__list-link Fixed responsive issue - <span>Today</span>
          li.footer__list-item
            a(href="#").footer__list-link Fixed responsive issue - <span>5 Hours Ago</span>
          li.footer__list-item
            a(href="#").footer__list-link Fixed responsive issue - <span>Yesterday</span>
      .footer__inner-item
        h3.footer__inner-title Learning
        ul.footer__list
          li.footer__list-item
            a(href="#").footer__list-link Our Plans
          li.footer__list-item
            a(href="#").footer__list-link Free Trial
          li.footer__list-item
            a(href="#").footer__list-link Academic Solutions
          li.footer__list-item
            a(href="#").footer__list-link Business Solutions
      .footer__inner-item
        h3.footer__inner-title Support Forum
        p.footer__inner-desc.mb-2 but also the leap into electronic typesetting, remainin
        .form-group
          input(placeholder="Eamil address").form-control
          a(href="#").btn.btn--primary.btn--noradius.footer-btn Get Help