header.header
  .container
    .header__inner
      a(href="#")
        img.header__inner-logo(src="../images/img-logo.png")
      button.header-menu-toggle.hamburger
        span.bar
      .header__inner-menu
        ul.header__list
          li.header__list-item
            a(href="#").header__list-link Study
          li.header__list-item
            a(href="#").header__list-link About Us
          li.header__list-item
            a(href="#").header__list-link Pages
          li.header__list-item
            a(href="#").header__list-link News
          li.header__list-item
            a(href="#").header__list-link Contact
          .header__btn.ml-4
            a(href="#").btn.btn--primary.btn--bold.btn--nobgcolor Apply Now
