section.limit
  img(src="../images/img-limit-bg.png")
  .container
    .limit__inner.mt-10
      .limit__inner-item
        img(src="../images/img-limit.png").limit__inner-item-image
        a(href="#")
          i.fa.fa-play.limit__inner-item-icon
      .limit__inner-item
        .limit__inner-content
          h3.limit__inner-title Limitless learning, more  possibilities
          p.limit__inner-desc.mb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          p.limit__inner-desc.mb-4 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown pr inter took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          .limit__count
            .limit__count-item.limit__count-item--organce
              span.limit__count-number 4000
              span.limit__count-label Students
            .limit__count-item.limit__count-item--red
              span.limit__count-number 260
              span.limit__count-label Courses
            .limit__count-item.limit__count-item--green
              span.limit__count-number 5679
              span.limit__count-label Hours video