.header {
  // background: url('../images/img-bg.png') no-repeat center/cover;
  &__inner {
    padding-top: 2.6rem;
    @include flexboxUpdate(
      (
        align-items: center,
        justify-content: space-between,
      )
    );
  }
  &__list {
    @include flexboxUpdate(
      (
        align-items: center,
      )
    );
    &.is-expand {
      transform: translateX(0);
    }
    &-link {
      color: $color-text;
      font-size: 1 0.6rem;
      font-weight: bold;
    }
  }
  &__btn {
  }
  @include minWidth(768) {
    .header-menu-toggle {
      display: none;
    }
    &__list {
      &-item {
        &:not(:first-child) {
          margin-left: 4.5rem;
        }
      }
    }
  }
  @include maxWidth(767) {
    &__list {
      position: fixed;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      top: 0;
      right: 0;
      width: 300px;
      height: 100%;
      transition: all 0.2s linear;
      transform: translateX(100%);
      &-item {
        padding: 2rem 0;
      }
    }
    &__btn {
      margin-left: 0;
    }
  }
}
